*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}

.equilibreNav {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(175,246,168,1) 100%);
  /*   width: 100%;
    height: 15vh; */
} 
.equilibreNav img{
    height: 60px;
    margin-left: 100px;
}

.navbarInter {
    margin-left: 40vw;
}

.btnContact {
    margin-left: 60px;
    border-radius: 30px;
    border: none ;
    background-color: white;
    color: #009E0B;
    width: 165px;
    height: 40px;
}
.btnContact:hover {
    transition: all 0.05s;
    background-color: #c1c2c2;
    color: white;
} 
.btnContact a {
    font-size: 12px;
}
.container {
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, rgba(191,255,195,1) 54%, rgba(255,255,255,1) 88%);
    background-size: cover; 
    display: flex;
    flex-direction: row;
}

.caixaCentral {
    height: 50%;
    margin-top: 200px;
    margin-right: 180px;
}

.caixaImg {
    margin-top: 200px;
    height: 90vh;
    width: 90vw;
}

.caixaImg bg{
    background-color: black;
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.form-control {
    width: 280px;
}

.btnSaiba {
    margin-top: 20px;
    border-radius: 30px;
    border-color: #009E0B;
    border-width: 0.1px;
    background-color: white;
    color: #009E0B;
    width: 165px;
    height: 40px;
}
.btnSaiba:hover {
    transition: all 0.05s;
    background-color: #575958;
    color: white;
    box-shadow: 5px 2px 2px rgb(146, 146, 146);
} 
.btnSaiba a {
    font-size: 12px;
}
.btnSub {
    width: 165px;
    height: 40px;
    border-radius: 35px;
    background-color: #009E0B;
    color: white;
}
.form-label{
    line-height: 20px;
}
.sectionSolucao {
    height: 100vh;
    width: 100%;
    background-color: #009E0B;
}
.solucaoCima{
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 150px;
}
.solucaoText{
    padding: 100px;
    margin-left: 50px;
}
.solucaoCima img{
    border-radius: 10px;
}
/* -------------------------container-skills-------------------*/

.container-skills {
    background-color: white;
    display: block;
    padding: 5% 10px;
}

.container-skills article {
    max-width: 800px;
    margin: auto;
}

.container-inlane-overview {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: 5% 0;
    padding: 10px ;
}

.card-skills {
    background-color: #f6f9f9;
    width: 200px;
    position: relative;
    border-radius: 7px;
    padding: 40px 10px 10px 10px;
    margin: 10px;
}
.card-skills img{
   margin-left: 70px;
   margin-bottom: 20px;
}

.icon-area-ti {
    background-color: #14998c;
    color: #fff;
    font-size: 40px;
    width: 85px;
    position: absolute;
    top: -50px;
    left: 35%;
    text-align: center;
    border-radius: 50%;
    display: block;
    padding: 10px;
    margin: 0 auto;
}

.card-skills h4 {text-align: center;}

.container-skills a {
    text-decoration: none;
    color: #4028db;
}

.container-skills a:hover {text-decoration: underline;}
/*listcard */

/* ---------------------- ** FIM ** --------------------------- */


@media screen and (max-width: 720px ){
    .container{
        display: block;
        margin: 0;
        text-align: center;
    }

    .caixaCentral{
        margin-top: 0px;
        padding-top: 100px;
    }
    .equilibreNav img{
        height: 60px;
        margin-left: 20px;
    }
    .solucaoCima{
        display: block;
        margin-left: 5px;
        margin-right: 5px;
    }
}